<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="info"
      internalLogFile="/var/log/rubicon/internal-logs/rubicon-internal.log">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets async="true">
    <target name="rubicon" xsi:type="File"
            layout="${longdate} ${level:uppercase=true:padding=-5}  ${callsite}  ${message}  ${exception:format=tostring}"
            fileName="/var/log/rubicon/logs/rubicon.log"
            archiveFileName="/var/log/rubicon/Logs/rubicon.log-${shortdate}.gz"
            archiveEvery="Day"
            maxArchiveFiles="90"
            concurrentWrites="true"
            keepFileOpen="false"
            enableArchiveFileCompression="true" />
  </targets>

  <rules>
    <!-- <logger name="*" minlevel="Info" writeTo="database" /> -->
    <logger name="*" minlevel="Trace" writeTo="rubicon" />
  </rules>
</nlog>